.cool-button {
  background-color: rgb(104, 184, 51);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.cool-button:hover {
  background-color: rgb(0, 128, 11);
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 0px 5px #888888;
}

.cool-button:active {
  transform: scale(1);
  box-shadow: 0px 0px 5px #888888;
  background-color: darkblue;
}

a.cool-button {
  background-color: rgb(104, 184, 51);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

a.cool-button:hover {
  background-color: rgb(0, 128, 11);
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 0px 5px #888888;
}

a.cool-button:active {
  transform: scale(1);
  box-shadow: 0px 0px 5px #888888;
  background-color: darkblue;
}
